$primary: #fdd860;
$success: #21d214;
$warning: #fcb205;
$warning-light: #ffead7;
$danger: #f04848;
$danger-light: #ffeeee;
$white: #fff;
$drak: #000;
$gray: #999999;
$purple: #906ffe;
$blue: #6b9dfe;
$cyan: #17c3a5;
$orange: #fca835;
$gold: #ffc406;
