@import './colors';

// base color
$ecJob: $primary;
$ecClient: #1677ff;
// sidebar
$sideBarWidth: 189px;
$minSideBarWidth: 64px;
$navBarHeight: 64px;
$tagsViewHeight: 44px;
$menuBg: #26344b;
$menuText: #a79393;

:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $ecJob;
}
