@import './colors';
@import './variables';
@import './mixin';
@import './transition';
@import './element-variables';
@import './element-ui';

// initialization
html,
body {
  width: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, Arial, sans-serif, Helvetica Neue, Helvetica, PingFang SC,
    Hiragino Sans GB;
  @extend .custom-scrollbar;
}

#app {
  overflow: hidden;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

summary {
  list-style: none;
}

// 全局样式
.student-operation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 110px;
  height: 110px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  color: #999999;
  transition: all 0.2s linear;
  flex-direction: column;
  cursor: pointer;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    border-color: $gold;
    color: $gold;
    img {
      filter: sepia(1) saturate(6) brightness(1.2) !important;
    }
  }
}

// 滚动条
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    &-thumb {
      border-radius: 10px;
      background-color: #b5b1b1;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }
  &--show-in {
    &::-webkit-scrollbar {
      display: none;
    }
    &:hover {
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
}
